<p>parent component</p>

<app-child 
  [message]="messageSendToChild" 
  [message2]="messageGoodByeChild"
  (messageEvent)="receivedMessageFromChild($event)"
  (messageEvent2)="receiveMsg2FromChild($event)"
  (submitEvent)="handleUserSubmit($event)"
  [userId]="userId"
  [userName]="userName"
  [email]="email"
  (userChange)="updateUser($event)"
  (locationEvent)="getLocation($event)"
  (locationsEvent)="getLocations($event)"
  [price]="this.price"
  >
</app-child>

<button (click)="saveData()">Save</button>

<p>Message from my Child: {{ msg }}</p>

<p>Question From my child: {{ msg2 }} </p>


<p [ngStyle]="{'color': 'blue'}"> Location Selected: {{this.location}}</p>

<h1>Locations</h1>
<ul *ngFor="let l of this.locations">
  <li [ngStyle]="{'color': 'green'}">
    {{l}}
  </li>
</ul>


