<p>child works!</p>

<p>Message from my parent:</p>
<h1>{{ message }}</h1>
<h1>Message2 {{ message2 }}</h1>


<button (click)="onSendMessageToParent()">Send Message To Parent</button>
<button (click)="onSeekingMoney($event)">Questions</button>


<h1>User Information</h1>

<!-- <input
  type="text"
  [(ngModel)]="userId"
  placeholder="Enter user ID"
/>

<input
  type="text"
  [(ngModel)]="userName"
  placeholder="Enter user name" 
/> -->

<input
  type="text"
  [(ngModel)]="userId"
  (input)="onInputChange()"
  placeholder="Enter user ID"
/>

<input
  type="text"
  [(ngModel)]="userName"
  (input)="onInputChange()"
  placeholder="Enter user name"
/>

<button (click)="submitForm()">Submit</button>
